<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>face_qq_1</string>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_2</string>
		<key>name</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_3</string>
		<key>name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_4</string>
		<key>name</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_5</string>
		<key>name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_6</string>
		<key>name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_7</string>
		<key>name</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_8</string>
		<key>name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_9</string>
		<key>name</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_10</string>
		<key>name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_11</string>
		<key>name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_12</string>
		<key>name</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_13</string>
		<key>name</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_14</string>
		<key>name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_15</string>
		<key>name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_16</string>
		<key>name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_17</string>
		<key>name</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_18</string>
		<key>name</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_19</string>
		<key>name</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_20</string>
		<key>name</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_21</string>
		<key>name</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_22</string>
		<key>name</key>
		<string>[愉快]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_23</string>
		<key>name</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_24</string>
		<key>name</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_25</string>
		<key>name</key>
		<string>[饥饿]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_26</string>
		<key>name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_27</string>
		<key>name</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_28</string>
		<key>name</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_29</string>
		<key>name</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_30</string>
		<key>name</key>
		<string>[悠闲]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_31</string>
		<key>name</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_32</string>
		<key>name</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_33</string>
		<key>name</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_34</string>
		<key>name</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_35</string>
		<key>name</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_36</string>
		<key>name</key>
		<string>[疯了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_37</string>
		<key>name</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_38</string>
		<key>name</key>
		<string>[骷髅]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_39</string>
		<key>name</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_40</string>
		<key>name</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_41</string>
		<key>name</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_42</string>
		<key>name</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_43</string>
		<key>name</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_44</string>
		<key>name</key>
		<string>[糗大了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_45</string>
		<key>name</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_46</string>
		<key>name</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_47</string>
		<key>name</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_48</string>
		<key>name</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_49</string>
		<key>name</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_50</string>
		<key>name</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_51</string>
		<key>name</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_52</string>
		<key>name</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_53</string>
		<key>name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_54</string>
		<key>name</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_55</string>
		<key>name</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_56</string>
		<key>name</key>
		<string>[菜刀]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_57</string>
		<key>name</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_58</string>
		<key>name</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_59</string>
		<key>name</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_60</string>
		<key>name</key>
		<string>[乒乓]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_61</string>
		<key>name</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_62</string>
		<key>name</key>
		<string>[饭]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_63</string>
		<key>name</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_64</string>
		<key>name</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_65</string>
		<key>name</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_66</string>
		<key>name</key>
		<string>[嘴唇]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_67</string>
		<key>name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_68</string>
		<key>name</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_69</string>
		<key>name</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_70</string>
		<key>name</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_71</string>
		<key>name</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_72</string>
		<key>name</key>
		<string>[刀]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_73</string>
		<key>name</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_74</string>
		<key>name</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_75</string>
		<key>name</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_76</string>
		<key>name</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_77</string>
		<key>name</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_78</string>
		<key>name</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_79</string>
		<key>name</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_80</string>
		<key>name</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_81</string>
		<key>name</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_82</string>
		<key>name</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_83</string>
		<key>name</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_84</string>
		<key>name</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_85</string>
		<key>name</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_86</string>
		<key>name</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_87</string>
		<key>name</key>
		<string>[差劲]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_88</string>
		<key>name</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_89</string>
		<key>name</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_90</string>
		<key>name</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_91</string>
		<key>name</key>
		<string>[爱情]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_92</string>
		<key>name</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_93</string>
		<key>name</key>
		<string>[跳跳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_94</string>
		<key>name</key>
		<string>[发抖]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_95</string>
		<key>name</key>
		<string>[怄火]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_96</string>
		<key>name</key>
		<string>[转圈]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_97</string>
		<key>name</key>
		<string>[磕头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_98</string>
		<key>name</key>
		<string>[回头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_99</string>
		<key>name</key>
		<string>[跳绳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_100</string>
		<key>name</key>
		<string>[投降]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_101</string>
		<key>name</key>
		<string>[激动]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_102</string>
		<key>name</key>
		<string>[乱舞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_103</string>
		<key>name</key>
		<string>[献吻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_104</string>
		<key>name</key>
		<string>[左太极]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>face_qq_105</string>
		<key>name</key>
		<string>[右太极]</string>
	</dict>
</array>
</plist>
